header {
  border-bottom: 1px solid #ccc;
  height: 52px;
}
.m-logo {
  width: 156px;
  height: 52px;
  line-height: 52px;
  background: #CE3D3A;
  font-size: 16px;
  color: #fff;
  text-align: center;
  display: inline-block;
}
.m-logo a {
  color: #fff;
}
.m-logo a:hover {
  color: #fff;
}
.m-nav {
  color: #888;
}
.m-nav li {
  float: left;
  margin-right: 52px;
  font-size: 14px;
  line-height: 52px;
}
.m-nav li a {
  color: #888;
}
.m-nav li a.v-link-active {
  color: #333;
}
/* 两列右侧自适应布局 */
.g-bd {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.g-bd .g-sd {
  position: absolute;
  top: 0;
  width: 156px;
  bottom: 0;
  background-color: #292F37;
}
.g-bd .g-mn {
  position: absolute;
  top: 0;
  left: 156px;
  bottom: 0;
  right: 0;
  overflow: auto;
}
footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.fade-transition {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.fade-enter,
.fade-leave {
  height: 0;
  opacity: 0;
}
.alert.top {
  position: fixed;
  top: 30px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 10500;
  text-align: center;
}
.alert.top-right {
  position: fixed;
  top: 30px;
  right: 50px;
  z-index: 10000;
}
.alert p {
  padding: 11px 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
}
.alert-danger p {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-success p {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-info p {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning p {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m-sidebar {
  width: 156px;
  height: 100%;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.67);
  background: #292F37;
}
.m-sidebar .tlt {
  height: 54px;
  line-height: 54px;
}
.m-sidebar .tlt li {
  float: left;
  display: inline-block;
  width: 50%;
  background: #414954;
  text-align: center;
  cursor: pointer;
}
.m-sidebar .tlt li a {
  color: rgba(255, 255, 255, 0.67);
  display: block;
}
.m-sidebar .tlt li a:hover {
  color: #fff;
}
.m-sidebar .tlt li a.act {
  color: #fff;
  background: #292F37;
}
.m-sidebar .list {
  background: #292F37;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 64px;
  overflow-y: auto;
  margin-bottom: 0;
}
.m-sidebar .list li {
  height: 52px;
  line-height: 52px;
}
.m-sidebar .list li a {
  display: block;
  padding: 0 20px 0 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(255, 255, 255, 0.67);
}
.m-sidebar .list li a:hover {
  color: #fff;
}
.m-sidebar .list li a.act {
  background: #141618;
  color: #fff;
  border-left: 4px solid #CE3D3A;
}
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.no-data {
  padding: 20px;
}
nav {
  width: 156px;
  height: 100%;
  border-right: 1px solid #e5e5e5;
  background: #f3f3f3;
  color: #888;
}
nav .u-iptsearch {
  padding: 17px 20px;
}
nav ul {
  position: absolute;
  top: 62px;
  left: 0;
  bottom: 0;
  width: 156px;
  overflow-y: auto;
  margin-bottom: 0;
}
nav ul li {
  height: 36px;
  line-height: 36px;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #888;
}
nav ul li a:hover {
  color: #333;
}
nav ul li a.act {
  background: #e9e9e9;
  color: #333;
}
.m-home {
  position: absolute;
  top: 0;
  left: 156px;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  padding: 43px 50px 20px;
}
.m-home .tlt {
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  color: #333;
  margin-bottom: 28px;
}
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.no-data {
  padding: 20px;
}
nav {
  width: 156px;
  height: 100%;
  border-right: 1px solid #e5e5e5;
  background: #f3f3f3;
  color: #888;
}
nav .u-iptsearch {
  padding: 17px 20px;
}
nav ul {
  position: absolute;
  top: 62px;
  left: 0;
  bottom: 0;
  width: 156px;
  overflow-y: auto;
  margin-bottom: 0;
}
nav ul li {
  height: 36px;
  line-height: 36px;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #888;
}
nav ul li a:hover {
  color: #333;
}
nav ul li a.act {
  background: #e9e9e9;
  color: #333;
}
.m-home {
  position: absolute;
  top: 0;
  left: 156px;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  padding: 43px 50px 20px;
}
.m-home .tlt {
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  color: #333;
  margin-bottom: 28px;
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
.modal-container {
  width: 500px;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-mid {
  width: 680px;
}
.modal-large {
  width: 850px;
}
.modal-header {
  position: relative;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header i {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  font-size: 14px;
}
.modal-header h3 {
  margin: 0;
  color: #CE3D3A;
  font-size: 16px;
  text-align: center;
}
.modal-body {
  position: relative;
  padding: 15px;
  line-height: 20px;
  max-height: 400px;
  overflow: auto;
}
.modal-body .tip {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}
.modal-body .tip i {
  margin-right: 10px;
}
.modal-body h3.title {
  margin-bottom: 15px;
}
.modal-body .no-data {
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding: 0;
}
.modal-no-auto .modal-body {
  overflow: inherit;
}
.modal-footer {
  padding: 15px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter,
.modal-leave {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.m-auth ul.per li {
  float: left;
  margin-right: 15px;
  cursor: pointer;
}
.m-auth ul.per li span {
  display: none;
}
.m-auth ul.per li:hover span {
  display: inline;
}
.border-box {
  box-sizing: border-box;
}
.m-select2 {
  width: auto;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0;
  padding: 0 .5em;
  max-width: 100%;
  background: none;
  box-shadow: none;
  float: left;
  clear: none;
}
.secret[_v-1b7c064a] {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
.m-deploy .item-btn li {
  float: left;
  margin-right: 10px;
}
.m-deploy .item-btn li:last-child {
  margin: 0;
}
.m-deploy .ivu-spin {
  float: left;
  margin-right: 10px;
}
.m-deploy .b-name {
  float: left;
}
.m-log {
  padding: 10px 0;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 30%;
  right: 1%;
  width: 69%;
  height: 220px;
  border-radius: 10px;
  background-color: #002833;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.m-log .log {
  padding: 0 20px;
  height: 100%;
  overflow: auto;
  line-height: 25px;
  color: #fff;
  margin-right: 2px;
}
.m-log .log li {
  line-height: 25px;
  color: #fff;
  word-break: break-all;
  word-wrap: break-word;
}
.m-log i {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
}
.m-log i:hover {
  color: #fff;
}
.ivu-spin {
  color: #0099e5;
  text-align: center;
}
.ivu-spin-dot {
  position: relative;
  display: block;
  border-radius: 50%;
  background-color: #0099e5;
  width: 25px;
  height: 25px;
  -webkit-animation: ani-spin-bounce 1s 0s ease-in-out infinite;
  animation: ani-spin-bounce 1s 0s ease-in-out infinite;
}
.ivu-spin-show-text .ivu-spin-dot,
.ivu-spin-text {
  display: none;
}
.ivu-spin-small .ivu-spin-dot {
  width: 12px;
  height: 12px;
}
.ivu-spin-large .ivu-spin-dot {
  width: 32px;
  height: 32px;
}
@-webkit-keyframes ani-spin-bounce {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes ani-spin-bounce {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
.tb {
  border: 1px solid #e5e5e5;
}
.tb .tb-bd {
  overflow: auto;
  height: 200px;
}
.tb .m-table {
  border: none;
}
.tb .m-table tr {
  border: none;
  border-top: 1px solid #e5e5e5;
}
.tb .m-table thead tr {
  border: none;
}



































.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.tooltip.top .tooltip-arrow {
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
.tooltip-inner {
    max-width: 250px;
    padding: 6px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
}
.tooltip.top,
.tooltip.left,
.tooltip.right,
.tooltip.bottom {
  opacity: .9
}
.fadein-enter {
  -webkit-animation:fadein-in 0.3s ease-in;
          animation:fadein-in 0.3s ease-in;
}
.fadein-leave {
  -webkit-animation:fadein-out 0.3s ease-out;
          animation:fadein-out 0.3s ease-out;
}
@-webkit-keyframes fadein-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .9;
  }
}
@keyframes fadein-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .9;
  }
}
@-webkit-keyframes fadein-out {
  0% {
    opacity: .9;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein-out {
  0% {
    opacity: .9;
  }
  100% {
    opacity: 0;
  }
}
h3[_v-ae551a74] {
  font-size: 16px;
  margin-bottom: 10px;
}
.m-group .gr-left[_v-ae551a74] {
  width: 45%;
}
.m-group .gr-left .item[_v-ae551a74] {
  margin-bottom: 20px;
}
.m-group .gr-left .item p[_v-ae551a74] {
  line-height: 40px;
}
.m-group .gr-right[_v-ae551a74] {
  width: 45%;
  margin-top: 50px;
}
.m-group .gr-right h3[_v-ae551a74] {
  font-size: 14px;
}
.m-group .item-table[_v-ae551a74] {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border: 1px solid #efefef;
}
.m-group tr.z-dragSource[_v-ae551a74] {
  border: 2px dashed #00c0ef;
  background: transparent;
  font-size: 0;
}
.ft[_v-ae551a74] {
  margin: 20px;
  text-align: center;
}
.normal[_v-ae551a74] {
  background-color: grey;
}
.drag[_v-ae551a74] {
  background-color: green;
}
.dragArea[_v-ae551a74] {
  min-height: 10px;
}
/* 小屏幕 */
@media screen and (min-width: 600px) and (max-width: 1366px) {
  .m-table th[_v-ae551a74] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .m-table td[_v-ae551a74] {
    max-width: 100px;
  }
}









































.nav-tabs {
  margin-bottom: 15px;
}
.nav li.j-tab > a {
  color: #888;
  padding: 10px 0;
  margin-right: 52px;
  border-left: none;
  border-right: none;
  border-top: none;
}
.nav li.j-tab > a:hover {
  color: #888;
  background: #fff;
  border: none;
}
.nav li.active > a,
.nav li.active > a:hover,
.nav li.active > a:focus {
  color: #333;
  cursor: default;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #CE3D3A;
}
.nav li.dropdown > a {
  padding: 10px 0;
  margin-right: 52px;
  border: none;
  color: #888;
}
.nav li.dropdown > a:hover,
.nav li.dropdown > a:focus {
  background: #fff;
}
.nav .dropdown-menu {
  left: -18px;
  min-width: 120px;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #fff;
}
.nav-tabs[_v-37b8e9a3] {
  margin-bottom: 15px;
}
.avatar[_v-29594fc3] {
  height: 75px;
  margin: 10px auto;
}
.user-details[_v-29594fc3] {
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
  margin: -10px 0;
}
.time-block[_v-29594fc3] {
  padding: 10px;
}
.comment-section[_v-29594fc3] {
  padding: 20px;
}
.btn-select[_v-b531c416] {
  display: inline-block;
  float: left;
}
.btn-select > .btn-group > .dropdown-menu > li[_v-b531c416] {
  position: relative;
}
.btn-select > .btn-group > .dropdown-menu > li > a[_v-b531c416] {
  cursor: pointer;
}
.bs-searchbox[_v-b531c416] {
  position: relative;
  margin: 4px 8px;
}
.bs-searchbox .close[_v-b531c416] {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
button > .close[_v-b531c416] {
  margin-left: 5px;
}
.btn-group > .notify[_v-b531c416] {
  position: relative;
}
.btn-group .dropdown-menu .notify[_v-b531c416],
.btn-group .notify > div[_v-b531c416] {
  position: absolute;
  width: 96%;
  margin: 0 2%;
  min-height: 26px;
  padding: 3px 5px;
  background: #f5f5f5;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
}
.btn-group .notify > div[_v-b531c416] {
  top: 5px;
  z-index: 1;
}
.btn-group .dropdown-menu .notify[_v-b531c416] {
  opacity: .9;
  bottom: 5px;
}
.btn-group.btn-group-justified .dropdown-menu[_v-b531c416] {
  width: 100%;
}
span.caret[_v-b531c416] {
  float: right;
  margin-top: 7px;
  margin-left: 5px;
}
.secret[_v-b531c416] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.bs-searchbox input[_v-b531c416]:focus,
.secret:focus + button[_v-b531c416] {
  outline: 0;
  border-color: #66afe9 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.m-view-config {
  line-height: 25px;
  margin-bottom: 20px;
}
.m-view-config .j-li {
  border: 1px dashed #ccc;
  border-bottom: none;
  padding: 0 10px;
}
.m-view-config .j-li:last-child {
  border-bottom: 1px dashed #ccc;
}
.m-view-config p i {
  margin-left: 15px;
  font-size: 14px;
}
.m-view-config p i.icon-del-2 {
  font-size: 12px;
}
input[type="file"] {
  display: none;
}
.m-pager[_v-255a645a] {
  margin: 20px 0;
  height: 40px;
}
.m-pager li[_v-255a645a] {
  float: left;
}
.m-pager li a[_v-255a645a] {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e5e5e5;
  border-left: none;
  box-sizing: border-box;
  background: #fff;
  color: #333;
  text-align: center;
}
.m-pager li a[_v-255a645a]:hover {
  color: #ce3d3a;
}
.m-pager li:first-child a[_v-255a645a] {
  border-left: 1px solid #e5e5e5;
}
.m-pager li.i-page-act a[_v-255a645a] {
  border: 1px solid #ce3d3a;
  background: #ce3d3a;
  color: #fff;
}
.m-pager li.i-page-disabled a[_v-255a645a] {
  color: #ccc;
  cursor: not-allowed;
}
.m-pager li.i-page-disabled a i[_v-255a645a]:hover {
  color: #ccc;
  cursor: not-allowed;
}
textarea.u-mid[_v-57725620] {
  margin-top: 10px;
}

/*# sourceMappingURL=index.css.map*/